@import 'variables.scss';

.player {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .left, .right {
    background-color: $cor-b75;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .center {
    background-color: $cor-b100;
    height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;               /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: rgb(34, 34, 34);        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(58, 58, 58);    /* color of the scroll thumb */      /* roundness of the scroll thumb */ /* creates padding around scroll thumb */
    }
  }

  .control {
    width: 100vw;
    height: 90px;
    position: fixed;
    bottom: 0px;
    background: black;
    transition: 0.3s;

    &.modal {
      transition: 0.3s;
      height: 3px;
    }
  }

  .timer {
    position: absolute;
    bottom: 12px;
    right: 0px;
    margin-top: 12px;
    text-align: end;
    padding: 0px 30px;

    img {
      rotate: 0deg;
      zoom: 1.2;
      padding: 10px;
      background-color: black;
      border-radius: 100%;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
      transition: 0.3s;
    }

    &.modal img {
      transition: 0.3s;
      rotate: 180deg;
    }
  }
}

.auth {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  display: block;
  background-color: $cor-b100;
  z-index: 100;

  &-list {
    flex-direction: column;
    height: 80%;
  }

  & img {
    max-width: 400px;
    animation: loop 3s infinite;
  }

  @keyframes loop {
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
  }

  & h1 {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  & li {
    margin-bottom: 10px;
    opacity: 0.8;
    list-style: square;
    font-size: 1.15rem;
  }

  &.valid {
    display: none;
  }
}
