@import 'variables.scss';

:host {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .left, .right {
    background-color: $cor-b75;
    height: 100vh;
  }

  .center {
    background-color: $cor-b100;
    height: 100vh;
  }
}
