<div class="banner grid">
  <picture>
    <img src="{{ playlist?.image }}" alt="">
  </picture>

  <div class="text flex">
    <span>Playlist</span>
    <h1>{{ playlist?.name }}</h1>
  </div>
</div>

<div class="base flex">
  <div class="musics">
    <ul class="flex">
      <li *ngFor="let music of playlist?.musics" class="flex musics-itens" (click)="PlayMusic(music)"
        [ngClass]="{'played': music.id == musicPlayer.id}">
        <div class="flex musics-list">
          <div class="flex select">
            <img src="assets/images/icons/play.svg" alt="" class="play">
            <img src="{{ music.album.imageUrl }}" alt="">
          </div>

          <div class="flex name">
            <h2>{{ music.title }}</h2>
            <span>{{ music.singer[0].name }}</span>
          </div>
        </div>

        <div class="grid info">

          <div></div>

          <div class="time flex">
            <img src="assets/images/icons/clock.svg" alt="">
            <h2>{{ music.time }}</h2>
          </div>

        </div>

      </li>
    </ul>
  </div>
</div>
