@import "variables.scss";

:host {

  nav {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;

    li {
      padding: 12px 0px;
      opacity: 0.7;
      gap: 10px;
      cursor: pointer;

      &:hover {
        background: linear-gradient(to right, $cor-b25, transparent);
      }

      .active {
      opacity: 1;
      }
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    img {
      margin-left: 30px;
    }
  }
}
