<div class="navegation">
  <nav>
    <ul>
      <li class="flex" [routerLink]="['home']" routerLinkActive="active">
        <img src="assets/images/nav/home.svg" alt="">
        <h2>Home</h2>
      </li>
      <li class="flex">
        <img src="assets/images/nav/home.svg" alt="">
        <h2>Discover</h2>
      </li>
      <li class="flex">
        <img src="assets/images/nav/home.svg" alt="">
        <h2>Radio</h2>
      </li>
      <li class="flex">
        <img src="assets/images/nav/home.svg" alt="">
        <h2>Albums</h2>
      </li>
    </ul>
  </nav>
</div>
