<div class="menu grid">

  <div class="bar"></div>

  <div class="menu-info flex">
    <picture>
      <img src="{{ music.album.imageUrl }}" alt="">
    </picture>

    <div class="flex name">
      <h2>{{ music.title }}</h2>
      <span>{{ music.singer[0]?.name }}</span>
    </div>

  </div>


  <div class="menu-player flex flex-center">
    <img src="assets/images/icons/next.svg" alt="" class="preview" (click)="ReturnMusic()">
    <div [ngSwitch]="status">
      <img src="assets/images/icons/player.svg" alt="" class="play" (click)="MusicControl()" *ngSwitchCase="false">
      <img src="assets/images/icons/start.svg" alt="" class="play" (click)="MusicControl()" *ngSwitchCase="true">
    </div>
    <img src="assets/images/icons/next.svg" alt="" class="next" (click)="NextMusic()">
  </div>

</div>
