@import "variables.scss";

.menu {
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  height: max-content;
  position: relative;

  &-info {
    margin-top: 12px;
    align-items: center;
    padding: 0px 32px;
    gap: 10px;

    img {
      max-width: 60px;
      border-radius: 15px;
    }

    & .name {
      flex-direction: column;
      font-size: 1rem;
    }

    & .name h2{
      font-size: 1.25rem;
    }
  }

  &-player {
    gap: 15px;
    margin-top: 12px;

    & img {
      cursor: pointer;
      opacity: 0.9;

      &:active {
      opacity: 1.2;

      }
    }

    & .preview {
      rotate: 180deg;
    }
  }

  .bar {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    height: 3px;
    background-color: $cor-principal;
    animation: frames 5s infinite;
  }

  @keyframes frames {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
  }
}
