@import 'variables.scss';
@import 'ngx-toastr/toastr';

html, body {
  background-color: $cor-fundo;
  color: $cor-w;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li, a {
  list-style: none;
  text-decoration: none;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-cln {
    flex-direction: column;
  }
}

.grid {
  display: grid;
}
