@import 'variables.scss';

html, body {
  background-color: $cor-fundo;
  color: $cor-w;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  box-sizing: border-box;
}

li, a {
  list-style: none;
  text-decoration: none;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.grid {
  display: grid;
}
